{% assign navurl = page.url | remove: 'index.html' %}
<div>
    <style>
        .toggle-icon svg {
            margin-top: -0.25ex;
        }
    </style>
    
    {% for item in include.nav %}
        <a href="{{ item.url }}">
        {% if item.url == navurl %}
            <span class="fw-bolder">{{ item.text }}</span>
        {% else %}
            {{ item.text }}
        {% endif %}
        </a>
        {% if forloop.last == false %}
        |
        {% endif %}
    {% endfor %}

    <a id="theme-toggle" class="toggle-icon ms-2" onclick="modeSwitcher()"></a>
</div>
